html {
    overflow-x: hidden;
}

body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

body {
    font-size:16px;
    margin: 0;
}

.int-container:after, .int-container:before, .int-panel:after, .int-panel:before, .int-row:after, .int-row:before, .int-row-padding:after, .int-row-padding:before, .int-cell-row:before, .int-cell-row:after, .int-clear:after, .int-clear:before, .int-bar:before, .int-bar:after {
    content: "";
    display: table;
    clear: both;
}

.int-container:after, .int-container:before, .int-panel:after, .int-panel:before, .int-row:after, .int-row:before, .int-row-padding:after, .int-row-padding:before, .int-cell-row:before, .int-cell-row:after, .int-clear:after, .int-clear:before, .int-bar:before, .int-bar:after {
    content: "";
    display: table;
    clear: both;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (min-width: 993px){
    .int-sidebar.int-collapse {
        display: block!important;
    }

    .int-hide-large {
        display: none!important;
    }
}

@media (max-width: 992px){
    .int-sidebar.int-collapse {
        display: none;
    }

    .int-main {
        margin-left: 0!important;
        margin-right: 0!important;
    }


}

.int-red, .int-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important;
}

.int-padding {
    padding: 8px 16px!important;
}

.int-large {
    font-size: 18px!important;
}

.int-top {
    top: 0;
}

.int-top, .int-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.int-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.int-sidebar2 {
    z-index:3;
    width:250px;
    font-weight:bold;
}

.int-container, .int-panel {
    padding: 0.01em 16px;
}

.int-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.int-bar-block .int-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.int-btn, .int-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.int-btn, .int-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

.int-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.int-main, #main {
    transition: margin-left .4s;
    margin-left: 340px;
    margin-right: 40px;
}

.int-jumbo {
    font-size: 64px!important;
}

.int-text-red, .int-hover-text-red:hover {
    color: #f44336!important;
}

.int-xxxlarge {
    font-size: 48px!important;
}

.int-round, .int-round-medium {
    border-radius: 4px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

hr {
    box-sizing: content-box;
    border: 5px solid red;
    height: 0;
    overflow: visible;
}

.int-row-padding, .int-row-padding>.int-half, .int-row-padding>.int-third, .int-row-padding>.int-twothird, .int-row-padding>.int-threequarter, .int-row-padding>.int-quarter, .int-row-padding>.int-col {
    padding: 0 8px;
}

.int-col, .int-half, .int-third, .int-twothird, .int-threequarter, .int-quarter {
    float: left;
    width: 100%;
}

@media (min-width: 601px){
    .int-col.m6, .int-half  {
        width: 49.99999%;
    }

    .int-row-padding {
        display: flex;
    }
}
@media (max-width: 600px){
    .int-row-padding {
        margin-right: 1rem;
    }
}

.int-image {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.int-half img {
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}

.int-half img:hover {
    opacity:1;
}

.int-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.int-black, .int-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
    transition: 500ms;
}

.int-xxlarge {
    font-size: 36px!important;
}

.int-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.int-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

@media (min-width: 993px){
    .int-modal-content {
        width: 900px;
    }
}

.int-transparent, .int-hover-none:hover {
    background-color: transparent!important;
}

.int-center {
    text-align: center!important;
}

.int-animate-zoom {
    animation: animatezoom 0.6s;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.int-greyscale, .int-grayscale {
    filter: grayscale(75%);
}

@media (min-width: 601px){
    .int-col.m4, .int-third {
        width: 33.33333%;
    }
}

.int-light-grey, .int-hover-light-grey:hover, .int-light-gray, .int-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.int-margin-bottom {
    margin-bottom: 16px!important;
}

.int-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.int-dark-grey, .int-hover-dark-grey:hover, .int-dark-gray, .int-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important;
}

.int-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.int-xlarge {
    font-size: 24px!important;
}

.int-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.int-opacity, .int-hover-opacity:hover {
    opacity: 0.60;
}

.int-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.int-ul li:last-child {
    border-bottom: none;
}

.int-white, .int-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
    transition: 500ms;
}

.int-padding-large {
    padding: 12px 24px!important;
}

.int-section, .int-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.int-border {
    border: 1px solid #ccc!important;
}

.int-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

form {
    padding-right: 1rem;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

.int-right {
    float: right!important;
}